@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter/Inter-Thin.ttf);
}
@font-face {
    font-family: "Inter-ExtraLight";
    src: url(../fonts/Inter/Inter-ExtraLight.ttf);
}
@font-face {
    font-family: "Inter-Bold";
    src: url(../fonts/Inter/Inter-Bold.ttf);
}
@font-face {
    font-family: "Inter-SemiBold";
    src: url(../fonts/Inter/Inter-SemiBold.ttf);
}
@font-face {
    font-family: "RobotoFlex-Regular";
    src: url(../fonts/Roboto_Flex/RobotoFlex-Regular.ttf);
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../img/pocitos2.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #141414;
    width: 20%;
    height: 100%;
    float: left;
}
.inteligo {
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    color: white;
}
.inteligo span {
    color: darkred;
}
#logo {
    background-color: #141414;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes user {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.style-user {
    transform: scale(1.5, 1.5);
    border-radius: 100px;
    position: relative;
}
.conjunto-opciones {
    position: absolute;
    width: 100%;
}
#opciones {
    background-color: #282828;
    font-family: "RobotoFlex-Regular";
    color: white;
    height: 70%;
    position: relative;
}
#opciones a {
    background-color: #3A0000;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: background-color .2s;
} #opciones a:hover { background-color: red }
.opciones-hilera {
    font-family: "Inter-ExtraLight";
    background-color: #424242;
    padding: 5px;
    padding-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: background-color .2s;
} 
.opciones-hilera > * {
    padding-right: 50px;
}
main {
    width: 80%;
    height: 100%;
    float: right;
    position: relative;
}
main img {
    background-color: white;
    width: 150px;
    position: absolute;
    /* border-top: 5px solid black;
    border-left: 5px solid black; */
    bottom: 0;
    right: 0;
    border-radius: 90% 0px 0px 0px;
    padding-top: 25px;
    padding-left: 25px;
    transition: width .5s, background-color .5s, padding .5s;
}
#inicio {
    background-color: red !important;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.fondo {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
main img:hover {
    background-color: #427C7C;
    padding: 25px;
    width: 200px;
}