@import 'fonts.css';

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../img/4K\ Wallpapers\ Dark\ Background\ Gallery.jpg);
    /* background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1));   */
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #141414;
    width: 20%;
    height: 100%;
    float: left;
}
.inteligo {
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    color: white;
}
.inteligo span {
    color: red;
}
#logo {
    background-color: #141414;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes user {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.style-user {
    transform: scale(1, 1);
    border-radius: 100px;
    position: relative;
    /* background-color: #141414; */
    color: black;
    padding: 10px;
}
.conjunto-opciones {
    position: absolute;
    width: 100%;
}
#opciones {
    background-color: #282828;
    font-family: "RobotoFlex-Regular";
    color: white;
    height: 70%;
    position: relative;
}
#opciones a {
    background-color: #3A0000;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: background-color .2s;
} #opciones a:hover { background-color: red }
.opciones-hilera {
    font-family: "Inter-ExtraLight";
    /* background-color: #424242; */
    padding: 5px;
    padding-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: background-color .2s;
} 
.opciones-hilera > * {
    padding-right: 50px;
}
main {
    width: 80%;
    height: 100%;
    float: right;
    position: relative;
    overflow: auto;
}

#inicio {
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.fondo {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* .logo-img {
    background-color: white;
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 90% 0px 0px 0px;
    padding-top: 25px;
    padding-left: 25px;
    transition: width .5s, background-color .5s, padding .5s;
} */

.logo-img img:nth-child(1) {
    background-color: white;
    border-radius: 100% 0px 0px 0px;
    padding: 20px 0px 0px 20px;
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: opacity 500ms ease-in-out;
}
.logo-img img:nth-child(2) {
    background-color: white;
    border-radius: 100% 0px 0px 0px;
    padding: 20px 0px 0px 20px;
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: opacity 500ms ease-in-out;
}
.logo-img img:nth-child(2):hover {
    opacity: 0;
}