@import 'comun.css';

$boton-colores: #035d6f;

.inicio-usuario {
    span {
        background-color: $boton-colores;
    }
}

.info-user {
    div {
        > span {
            background-color: $boton-colores;
        }
    }
}

.indicadores {
    background-color: $boton-colores;
}

.opciones-hilera-active { 
    background-color: $boton-colores;
}