@import 'comun.css';

:root {
  --bg-administrador: #035d6f;
}

#inicio main span {
  background: var(--bg-administrador)
}

.info-user div > span {
  background: var(--bg-administrador)
}

.indicadores {
  background: var(--bg-administrador)
}

.opciones-hilera-active {
  background: var(--bg-administrador)
}

::selection {
  background: var(--bg-administrador)
}