/* Alert SALIR */
#alert-salir {
    background-color: rgba(48, 48, 48, 0.5);
    color: white;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    font-weight: bold;
    display: none;
}
#alert-salir div {
    background-color: #040404;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 20%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    animation: popup 0.5s ease;
}
#alert-salir div p {
    font-family: "Inter-ExtraLight";
}
#alert-salir div a {
    background-color: darkred;
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 10px 0px 10px 0px;
    font-size: 1em;
    transition: background-color 0.3s;
}
#alert-salir div i {
    color: white;
    position: absolute;
    border-radius: 10px;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 1em;
}
@media (max-width: 700px){
    #alert-salir div {
        width: 80%;
        height: 30%;
    }
}
@media (min-width: 700px){
    #alert-salir div {
        width: 40%;
        height: 30%;
    }
}
@media (min-width: 1000px){
    #alert-salir div {
        width: 30%;
        height: 30%;
    }
}
@keyframes popup {
    0% {
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        top: 20%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
    }
}
#alert-add {
    font-family: 'Inter-SemiBold';
    padding: 20px;
    border-radius: 6px;
    display: none;
    gap: 10px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-weight: bold;
    transition: opacity 0.6s;
    animation: alert 0.5s ease;
}
@media (max-width: 600px){
    #alert-add {
        width: 80%;
    }
}

:root {
    --alert-success: #04AA6D;
    --alert-info: #2196F3;
    --alert-danger: #f44336;
    --alert-warning: #ff9900;
    --alert-modify: darkgoldenrod;
    --alert-trashed: #b91c2b;
}
.alert-success {
    border: 1px solid var(--alert-success);
    border-left: 9px solid var(--alert-success);
    background: white;
    color: var(--alert-success);
}
.alert-info {
    border: 1px solid var(--alert-info);
    border-left: 9px solid var(--alert-info);
    background: white;
    color: var(--alert-info);
}
.alert-danger {
    border: 1px solid var(--alert-danger);
    border-left: 9px solid var(--alert-danger);
    background: white;
    color: var(--alert-danger);
}
.alert-warning {
    border: 1px solid var(--alert-warning);
    border-left: 9px solid var(--alert-warning);
    background: white;
    color: var(--alert-warning);
}
.alert-modify {
    border: 1px solid var(--alert-modify);
    border-left: 9px solid var(--alert-modify);
    background: white;
    color: var(--alert-modify);
}
.alert-trashed {
    border: 1px solid var(--alert-trashed);
    border-left: 9px solid var(--alert-trashed);
    background: white;
    color: var(--alert-trashed);
}

@keyframes alert {
    0% {
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@keyframes des_alert {
    0% {
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        top: -20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}