.block_relative_section{
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.alert_section {
    background: rgba(20, 20, 20, 1);
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0em 1em 1em 0em;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 1em;
}
:is(.alert_section, .alert-filtrar) label {
    font-family: "Inter-Bold";
    text-transform: uppercase;
    border-radius: 10px 10px 0px 0px;
    margin: 10px 5px 0px 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
:is(.alert_section, .alert-filtrar) :where(label, input, textarea, select){
    border-radius: 0px 0px 10px 10px;
    color: white;
    border: none;
    outline: none;
    font-size: 1em;
    transition: background-color .1s;
}
:is(.alert_section, .alert-filtrar) :where(input, textarea, select){
    background: rgba(0, 0, 0, 0.8);
    margin: 0 5px 10px 5px;
    padding: 1em;
    border-top: none;
}
.alert_section textarea {
    resize: none;
    overflow: hidden;
    padding-block: 5em;
}
.alert_section .conteiner_form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}
.alert_section .conteiner_form div:where(:nth-child(1),:nth-child(2),:nth-child(3)){
    display: grid;
}
.alert_section .conteiner_form div:nth-child(1){
    grid-column: 1;
    grid-row: 1;
}
.alert_section .conteiner_form div:nth-child(2){
    grid-column: 2/3;
    grid-row: 1;
}
.alert_section .conteiner_form label {
    margin-bottom: 0;
}
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}
.alert_section .buttons :where(.cancel_button, .subir_datos, .modificar_datos){
    background: #040404;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    width: 100%;
    transition: background .2s;
}
.alert_section .buttons :is(.cancel_button, .subir_datos, .modificar_datos) {
    background: var(--color);
    color: var(--color-let);
}
.alert_section .buttons :is(.cancel_button, .subir_datos, .modificar_datos):hover {
    background: var(--color);
    color: var(--color-let);
}
.alert_section .buttons .cancel_button {
    --color: rgb(153, 11, 11);
    --color-let: rgb(246, 130, 130)
}
.alert_section .buttons .cancel_button:hover {
    --color: rgb(106, 3, 3);
    --color-let: white;
}
.alert_section .buttons .subir_datos{
    --color: rgb(4, 71, 4);;
    --color-let: rgb(106, 185, 106);
}
.alert_section .buttons .subir_datos:hover{
    --color: rgb(4, 50, 4);
    --color-let: white;
}
.alert_section .buttons .modificar_datos{
    display: none;
    --color: darkgoldenrod;
    --color-let: rgb(255, 224, 146); 
}
.alert_section .buttons .modificar_datos:hover {
    --color: rgb(136, 100, 10);
    --color-let: white; 
}
@media (max-width: 600px){
    .alert_section .conteiner_form {
        grid-gap: 0em;
    }
    .alert_section .conteiner_form div:nth-child(1){
        grid-column: 1/3;
        grid-row: 1;
    }
    .alert_section .conteiner_form div:nth-child(2){
        grid-column: 1/3;
        grid-row: 2;
    }
    .alert_section .conteiner_form div:nth-child(3){
        grid-column: 1/3;
        grid-row: 3;
    }
    .alert_section .conteiner_form :where(input, select, textarea) {
        margin-bottom: 1em;
    }
}