@import 'fonts.css';
#user {
  background-color: #141414;
  color: white;
  background-size: 100% 100%;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../img/pocitos.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

nav {
  background-color: #141414;
  height: 100%;
  width: 20%;
  margin: 0;
  position: relative;
  overflow: auto;
  border-right: 5px solid #141414;
  border-left: 5px solid #141414;
}

main {
  height: 100%;
  width: 80%;
  margin: 0;
  position: relative;
  background: linear-gradient(rgba(157, 162, 188, 0.1), rgba(4, 30, 163, 0.1));
  overflow: auto;
}

.bloque {
  height: 100%;
  width: 100%;
}

#logo {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#logo img {
  width: 70%;
}

#alert-salir {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 20px;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-weight: bold;
  display: none;
}
#alert-salir div {
  background-color: #141414;
  border-radius: 10px;
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 20%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  animation: popup 0.5s ease;
}
#alert-salir div p {
  font-family: "Inter-ExtraLight";
}
#alert-salir div a {
  background-color: #dc3545;
  text-decoration: none;
  color: white;
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding: 10px 0px 10px 0px;
  font-size: 15px;
  transition: background-color 0.3s;
}
#alert-salir div a:hover {
  background-color: #a82935;
}
#alert-salir div i {
  color: white;
  position: absolute;
  border-radius: 10px;
  top: 0;
  right: 0;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.5s;
}

@keyframes popup {
  0% {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 20%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }
}
#opciones {
  background-color: transparent;
  font-family: "RobotoFlex-Regular";
  color: white;
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.opciones-hilera {
  font-family: "Inter-ExtraLight";
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  text-align: start;
  font-size: 15px;
  border: none;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background-color 0.3s;
  cursor: pointer;
}
.opciones-hilera ion-icon, .opciones-hilera i {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
}
.opciones-hilera[rel="#eliminados"], .opciones-hilera[rel="#operador"] {
  background-color: rgb(46, 46, 46);
}

.opciones-hilera-active {
  font-family: "Inter-Bold";
  text-transform: uppercase;
}

.opciones-hilera-activeHover {
  background-color: none;
}
.opciones-hilera-activeHover:hover {
  background-color: rgb(62, 62, 62);
}

.consultas {
  width: 100%;
}
.consultas td {
  color: black;
  padding: 10px;
  border: none;
}
.consultas td:nth-child(1) {
  width: 100px;
}
.consultas td:nth-child(2) {
  background-color: #BDBDBD;
}
.consultas td:nth-child(3), .consultas td:nth-child(4), .consultas td:nth-child(5) {
  width: 50px;
}

.conteiner-section {
  color: white;
}
.conteiner-section > * {
  margin: 10px;
}
.conteiner-section form > * {
  margin-top: 10px;
  margin-bottom: 10px;
}
.conteiner-section form {
  margin-top: 20px;
  margin-bottom: 20px;
}
.conteiner-section table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
}

.inputs-busqueda {
  display: flex;
}
.inputs-busqueda button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
}
.inputs-busqueda .filtrar {
  background-color: rgb(91, 102, 103);
}
.inputs-busqueda .agregar {
  background-color: #026300;
  transition: background-color 0.3s;
}

.titulo-section {
  background-color: #141414;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  margin: 0 !important;
  padding: 20px;
}

#home ion-icon {
  background-color: white;
  color: black;
  margin-right: 15px;
  padding: 5px;
  border-radius: 100%;
}

#xmark-administrador,
#xmark-operador,
#xmark-eliminados,
#xmark-coches,
#xmark-chofer,
#xmark-LN,
#xmark-cliente,
#xmark-empresa,
#xmark-reserva,
#xmark-HDM,
#xmark-GDM {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 99;
  display: none;
  margin: 10px;
  left: 0;
  color: white;
  cursor: pointer;
  transform: scale(1.2, 1.2);
  transition: background-color 0.3s;
}
#xmark-administrador:hover,
#xmark-operador:hover,
#xmark-eliminados:hover,
#xmark-coches:hover,
#xmark-chofer:hover,
#xmark-LN:hover,
#xmark-cliente:hover,
#xmark-empresa:hover,
#xmark-reserva:hover,
#xmark-HDM:hover,
#xmark-GDM:hover {
  background-color: #141414;
}

.info-user {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 18px;
}
.info-user div > h3 {
  margin: 0;
  margin-bottom: 10px;
}
.info-user div > span {
  margin-top: 30px;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  font-family: "Inter-Bold";
}
.info-user i {
  background-color: gray;
  color: black;
  padding: 20px;
  font-size: 30px;
  border-radius: 10px;
}

#logout {
  background-color: #dc3545;
  text-decoration: none;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 0px 10px 0px;
  transition: background-color 0.3s;
  cursor: pointer;
}
#logout span {
  position: relative;
  left: 10px;
}
#logout:hover {
  background-color: #a82935;
}
#logout ion-icon {
  border-radius: 5px;
  font-size: 20px;
  color: white;
  height: 100%;
  margin-left: 10px;
}

.style-user {
  color: #141414;
  border-radius: 5px;
  transform: scale(5, 5);
  position: relative;
  cursor: pointer;
}

.conteiner-inicio {
  position: relative;
  color: white;
  height: 100%;
  background: linear-gradient(rgba(157, 162, 188, 0.1), rgba(4, 30, 163, 0.1));
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inicio-logoProducto {
  z-index: 0;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.inicio-logoProducto img {
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.inicio-usuario {
  display: grid;
  place-content: center;
  height: 100%;
}
.inicio-usuario span {
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  font-family: "Inter-Bold";
}

.inicio-logoEmpresa {
  background-color: white;
  border-radius: 20px 20px 0px 0px;
  color: black;
  width: 100%;
  transition: background-color 0.5s, padding 0.5s;
}
.inicio-logoEmpresa table {
  width: 100%;
}
.inicio-logoEmpresa ul {
  list-style: none;
  font-weight: bold;
}
.inicio-logoEmpresa table {
  border-collapse: collapse;
}
.inicio-logoEmpresa table td > div {
  display: flex;
  justify-content: end;
  align-items: center;
}
.inicio-logoEmpresa table tfoot {
  background-color: #141414;
  text-align: center;
  width: 100%;
  color: white;
}
.inicio-logoEmpresa table tfoot ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width: 100%;
}
footer table {
  width: 100%;
  text-align: flex-start;
  border-collapse: collapse;
  border-top: 2px solid black;
}
footer table th {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer table th:nth-child(2) {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
footer table td {
  text-align: center;
}
footer table td:nth-child(1) {
  line-height: 30px;
}
footer table td:nth-child(2) {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  text-align: start;
}
footer table td:nth-child(2) ul li {
  margin-bottom: 10px;
}
footer table td:nth-child(2) ul li h4 {
  margin: 0;
  margin-bottom: 10px;
}

.block-relative-section {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.alert-section form {
  background: linear-gradient(0deg, rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8));
  color: white;
  border-radius: 5px 5px 0px 0px;
  font-family: "Inter-ExtraLight";
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.alert-section form div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.alert-section form div > * {
  margin: 5px;
}
.alert-section form div > input, .alert-section form div select, .alert-section form div textarea {
  background-color: white;
  border: 3px solid blue;
  outline: none;
  padding: 10px;
}
.alert-section form div > input, .alert-section form div option {
  border-radius: 4px;
  color: black;
  margin-bottom: 10px;
  width: 300px;
}
.alert-section form > button {
  background-color: darkgreen;
  border: none;
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s;
}
.alert-section form > button:hover {
  background-color: green;
}

.alert-section-reserva {
  background: linear-gradient(0deg, rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8));
  color: white;
  border-radius: 5px 5px 0px 0px;
  font-family: "Inter-ExtraLight";
}
.alert-section-reserva table {
  padding: 10px;
}
.alert-section-reserva table td > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.alert-section-reserva table td div > * {
  margin: 5px;
}
.alert-section-reserva table td div > input, .alert-section-reserva table select, .alert-section-reserva table textarea {
  background-color: white;
  border: 3px solid blue;
  outline: none;
  padding: 6px;
}
.alert-section-reserva table td div > input, .alert-section-reserva table select, .alert-section-reserva table option {
  border-radius: 4px;
  color: black;
  margin-bottom: 10px;
  width: 300px;
}
.alert-section-reserva form > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert-section-reserva form > div div {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.alert-section-reserva form > div div > input, .alert-section-reserva form > div div select, .alert-section-reserva form > div div textarea {
  background-color: white;
  border: 3px solid blue;
  outline: none;
  padding: 10px;
}
.alert-section-reserva form > div div > input, .alert-section-reserva form > div div option {
  border-radius: 4px;
  width: 300px;
}
.alert-section-reserva form > div div > * {
  margin: 6px;
}
.alert-section-reserva form button {
  background-color: darkgreen;
  border: none;
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s;
}
.alert-section-reserva form button:hover {
  background-color: green;
}

.block-relative-section {
  position: relative;
  display: none;
}

.indicadores {
  font-family: "Inter-SemiBold";
  color: white;
  text-align: center;
}
.indicadores th {
  padding: 5px;
}

.datos-admin {
  width: 100%;
  font-weight: bold;
}
.datos-admin td {
  background-color: #ced4da;
  color: black;
  padding: 10px;
  text-align: center;
}
.datos-admin td:nth-child(1) {
  background-color: #adb5bd;
  background: linear-gradient(rgba(206, 212, 218, 0.7), rgba(206, 212, 218, 0.7));
  font-weight: bold;
  width: 100px;
}
.datos-admin .bg-td {
  background-color: #adb5bd;
}
.datos-admin .consultaRegistro {
  background-color: #2eb405;
}
.datos-admin .consultaRegistro:hover {
  background-color: #31a001;
}
.datos-admin .modificarRegistro {
  background-color: #ffc107;
}
.datos-admin .modificarRegistro:hover {
  background-color: #cc9a06;
}
.datos-admin .eliminarRegistro {
  background-color: #dc3545;
}
.datos-admin .eliminarRegistro:hover {
  background-color: #b02a37;
}
.datos-admin .consultaRegistro, .datos-admin .modificarRegistro, .datos-admin .eliminarRegistro {
  text-align: center;
  width: 50px;
  cursor: pointer;
}/*# sourceMappingURL=comun.css.map */