@import 'fonts.css';

#user {
    background-color: #141414;
    color: white;
    background-size: 100% 100%;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

$fuente-opciones: "Inter-ExtraLight";
$consultar: #2eb405;
$modificar: #ffc107;
$eliminar: #dc3545;

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    
}
body {
    background-image: url(../img/pocitos.jpg);
    background-size: 100% 100%;    
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

//Bloques padre
    nav {
        // background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        background-color: #141414;
        height: 100%;
        width: 20%;
        margin: 0;
        position: relative;
        overflow: auto;
        border-right: 5px solid #141414;
        border-left: 5px solid #141414;
    }
    main {
        height: 100%;
        width: 80%;
        margin: 0;
        position: relative;
        background: linear-gradient(rgba(157, 162, 188, 0.1), rgba(4, 30, 163, 0.1) );
        overflow: auto;
    }

.bloque {
    height: 100%;
    width: 100%;
}

#logo {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img {
        width: 70%;
    }
}

#alert-salir {
    // background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    // background: linear-gradient(rgba(157, 162, 188, 0.5), rgba(4, 30, 163, 0.5) );
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    font-weight: bold;
    display: none;
    div {
        // background: linear-gradient(0deg, rgba(black, 0.9), rgba(black, 0.9));
        background-color: #141414;
        // background-color: #141414;
        border-radius: 10px;
        width: 400px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        top: 20%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        animation: popup 0.5s ease;
        p {
            font-family: "Inter-ExtraLight";
        }
        a {
            background-color: #dc3545;
            text-decoration: none;
            color: white;
            width: 100%;
            text-align: center;
            cursor: pointer;
            padding: 10px 0px 10px 0px;
            font-size: 15px;
            transition: background-color .3s;
            &:hover {
                background-color: #a82935;        
            }
        }
        i {
            color: white;
            position: absolute;
            border-radius: 10px;
            top: 0;
            right: 0;
            padding: 10px;
            margin: 5px;
            cursor: pointer;
            font-size: 20px;
            transition: background-color .5s;
        }
    }
}

@keyframes popup{
    0% {
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        top: 20%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
    }
}

#opciones {
    background-color: transparent;
    font-family: "RobotoFlex-Regular";
    color: white;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.opciones-hilera {
    font-family: $fuente-opciones;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
    text-align: start;
    font-size: 15px;
    border: none;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: background-color .3s;
    cursor: pointer;
    ion-icon, i {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 20px;
    }
    &[rel="#eliminados"], &[rel="#operador"]{
        background-color: rgb(46, 46, 46);
    }
}

.opciones-hilera-active { 
    font-family: "Inter-Bold"; 
    text-transform: uppercase;
}

.opciones-hilera-activeHover { 
    background-color: none; 
    &:hover {
        background-color: rgb(62, 62, 62);
    }
}

.consultas {
    width: 100%;
    td {
        color: black;
        padding: 10px;
        border: none;
    }
    td:nth-child(1){
        width: 100px;
    }
    td:nth-child(2){
        background-color: #BDBDBD;
        // border-radius: 0px 0px 10px 10px;
    }
    td:nth-child(3), td:nth-child(4), td:nth-child(5){
        width: 50px;
    }
}

.conteiner-section {
    color: white;
    > * {
        margin: 10px;
    }
    form > * {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    form {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    table {
        width: 100%;
        margin: 0;
        border-collapse: collapse;
    }
}

.inputs-busqueda {
    display: flex;
    button {
        width: 100%;
        padding: 10px;
        cursor: pointer;
        border: none;
        color: white;
        font-weight: bold;
    }
    .filtrar {
        background-color: rgb(91, 102, 103);
    }
    .agregar {
        background-color: #026300;
        transition: background-color .3s;
    }
}

.titulo-section {
    background-color: #141414;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin: 0 !important;
    padding: 20px;
}

#home {
    ion-icon {
        background-color: white;
        color: black;
        margin-right: 15px;
        padding: 5px;
        border-radius: 100%;
    }
}

#xmark-administrador,
#xmark-operador,
#xmark-eliminados,
#xmark-coches,
#xmark-chofer,
#xmark-LN,
#xmark-cliente,
#xmark-empresa,
#xmark-reserva,
#xmark-HDM,
#xmark-GDM {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 99;
    display: none;
    margin: 10px;
    left: 0;
    color: white;
    cursor: pointer;
    transform: scale(1.2, 1.2);
    transition: background-color .3s;
    &:hover {
        background-color: #141414;
    }
}

.info-user {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 18px;
    div {
        > h3 {
            margin: 0;
            margin-bottom: 10px;
        }
        > span {
            margin-top: 30px;
            border-radius: 10px;
            padding: 5px;
            font-size: 20px;
            font-family: "Inter-Bold";
        }
    }
    i {
        background-color: gray;
        color: black;
        padding: 20px;
        font-size: 30px;
        border-radius: 10px;
    }
}

#logout {
    background-color: #dc3545;
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 0px 10px 0px;
    transition: background-color .3s;
    span {
        position: relative;
        left: 10px
    }
    cursor: pointer;
    &:hover {
        background-color: #a82935;
    }
    ion-icon {
        border-radius: 5px;
        font-size: 20px;
        color: white;
        height: 100%;
        margin-left: 10px;
    }
}

.style-user {
    color: #141414;
    border-radius: 5px;
    transform: scale(5, 5);
    position: relative;
    cursor: pointer;
}

.conteiner-inicio {
    position: relative;
    color: white;
    height: 100%;
    background: linear-gradient(rgba(157, 162, 188, 0.1), rgba(4, 30, 163, 0.1) );
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.inicio-logoProducto {
    z-index: 0;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    img {
        width: 300px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.inicio-usuario {
    display: grid;
    place-content: center;
    height: 100%;
    span {
        border-radius: 10px;
        padding: 10px;
        margin-top: 10px; 
        font-size: 20px;
        text-align: center;
        font-family: "Inter-Bold";
    }
}

.inicio-logoEmpresa {
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    color: black;
    width: 100%;
    transition: background-color .5s, padding .5s;
    table {
        width: 100%;
    }
    ul {
        list-style: none;
        font-weight: bold;
    }
    table{
        border-collapse: collapse;
        td > div {
            display: flex;
            justify-content: end;
            align-items: center;
        }
        tfoot {
            background-color: #141414;
            text-align: center;
            width: 100%;
            color: white;
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

footer{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    width: 100%;
    table {
        width: 100%;
        text-align: flex-start;
        border-collapse: collapse;
        border-top: 2px solid black;
        th {
            width: (100%/2);
            padding-top: 10px;
            padding-bottom: 10px;
            &:nth-child(2) {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
            }
        }
        td {
            text-align: center;
            &:nth-child(1) {
                line-height: 30px;
            }
            &:nth-child(2) {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
                text-align: start;
                ul {
                    li {
                        margin-bottom: 10px;
                        h4 {
                            margin: 0;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}

.block-relative-section {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.alert-section {
    form {
        background: linear-gradient(0deg, rgba(#141414, 0.8), rgba(#141414, 0.8));
        color: white;
        border-radius: 5px 5px 0px 0px;
        font-family: "Inter-ExtraLight";
        display: flex;
        justify-content: center;
        flex-direction: column;
        div {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 20px;
            > * {
                margin: 5px;
            }
            > input, select, textarea {
                background-color: white;
                border: 3px solid blue;
                outline: none;
                padding: 10px;
            }
            > input, option {
                border-radius: 4px;
                color: black;
                margin-bottom: 10px;
                width: 300px;
            }
        }
        > button {
            background-color: darkgreen;
            border: none;
            padding: 10px;
            color: white;
            font-weight: bold;
            cursor: pointer;
            width: 100%;
            transition: background-color .2s;
            &:hover {
                background-color: green;
            }
        }
    }
}

.alert-section-reserva {
    background: linear-gradient(0deg, rgba(#141414, 0.8), rgba(#141414, 0.8));
    color: white;
    border-radius: 5px 5px 0px 0px;
    font-family: "Inter-ExtraLight";
    table {
        padding: 10px;
        td > div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        td div > * {
            margin: 5px;
        }
        td div > input, select, textarea {
            background-color: white;
            border: 3px solid blue;
            outline: none;
            padding: 6px;
        }
        td div > input, select, option {
            border-radius: 4px;
            color: black;
            margin-bottom: 10px;
            width: 300px;
        }
    }
    form {
        > div {
            display: flex;
            justify-content: center;
            align-items: center;
            div {
                padding: 10px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                > input, select, textarea {
                    background-color: white;
                    border: 3px solid blue;
                    outline: none;
                    padding: 10px;
                }
                > input, option {
                    border-radius: 4px;
                    width: 300px;
                }
                > * {
                    margin: 6px;
                }
            }
            
        }
        button {
            background-color: darkgreen;
            border: none;
            padding: 10px;
            color: white;
            font-weight: bold;
            cursor: pointer;
            width: 100%;
            transition: background-color .2s;
            &:hover {
                background-color: green;
            }
        }
    }
}

.block-relative-section {
    position: relative;
    display: none;
}

.indicadores {
    font-family: "Inter-SemiBold";
    color: white;
    text-align: center;
    th {
        padding: 5px;
    }
}

.datos-admin {
    width: 100%;
    font-weight: bold;
    td {
        background-color: #ced4da;
        color: black;
        padding: 10px;
        text-align: center;
    }
    td:nth-child(1) {
        background-color: #adb5bd;
        background: linear-gradient(rgba(#ced4da, 0.7), rgba(#ced4da, 0.7)); 
        font-weight: bold;
        width: 100px;
    }
    .bg-td {
        background-color: #adb5bd;
    }
    .consultaRegistro { 
        background-color: $consultar;
        &:hover { 
            background-color: #31a001; 
        }
    }
    .modificarRegistro {
        background-color: $modificar;
        &:hover {
            background-color: #cc9a06;
        }
    }
    .eliminarRegistro {
        background-color: $eliminar;
        &:hover { 
            background-color: #b02a37; 
        }
    }
    .consultaRegistro, .modificarRegistro, .eliminarRegistro{
        text-align: center;
        width: 50px;
        cursor: pointer;
    }
}