@import 'fonts.css';
@import 'alertSection.css';
@import 'datosAdmin.css';
@import 'alerts.css';

:root {
  --bg-inteliColor_1: #9561ee;
  --bg-inteliColor_2: #1db6ef;
  --bg-inteligo: linear-gradient(-45deg, var(--bg-inteliColor_1), var(--bg-inteliColor_2));
  --btn-inteligo: btn_inteligo 5s linear infinite;
}

@keyframes btn_inteligo {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

#user {
  background-color: #141414;
  color: white;
  background-size: 100% 100%;
  width: 100%;
  height: 20%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  background-image: url(../img/pocitos.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}
nav {
  height: 100%;
  font-size: 1em;
  margin: 0;
  position: absolute;
  z-index: 2;
  overflow: auto;
}
@media (max-width: 500px){
  nav {
    width: 100%;
    border-right: none !important;
  }
}
@media (min-width: 500px){
  nav {
    width: 300px;
  }
}
@keyframes ani_nav {
  0% {
    left: -100%;
    opacity: 0
  }
  100% {
    left: 0%;
    opacity: 1
  }
}
@keyframes desani_nav {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}
.navbar_hilera, .navbar_block {
  background: var(--bg-inteligo);
  background-size: 500% 500%;
  color: white;
  font-size: 2em;
  cursor: pointer;
  animation: var(--btn-inteligo);
}
.navbar_hilera {
  width: 20%;
  height: 100%;
}
.navbar_block {
  margin-right: 10px;
  padding: 20px;
}
main {
  height: 100%;
  width: 100%;
  right: 0;
  margin: 0;
  background: linear-gradient(rgba(157, 162, 188, 0.1), rgba(4, 30, 163, 0.1));
  overflow: auto;
  font-size: 1em;
}
.bloque {
  height: 100%;
  width: 100%;
  font-size: 1em;
}
#logout {
  background-color: darkred;
  text-decoration: none;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  cursor: pointer;
}
#opciones {
  background-color: transparent;
  font-family: "RobotoFlex-Regular";
  color: white;
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.opciones-hilera {
  font-family: "Inter-ExtraLight";
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  text-align: start;
  font-size: 1em;
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  z-index: 99;
  padding: 0;
}
.opciones-hilera-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.opciones-hilera-info .opciones-hilera {
  width: 50%;
}
.opciones-hilera span{
  position: absolute;
  left: 3em;
}
.opciones-hilera :where(ion-icon, i) {
  position: absolute;
  left: 1em;  
  font-size: 1em;
}
.opciones-hilera:before {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  display: block;
  content: "";
}
.opciones-hilera-activeHover:before {
  background: #141414;
}
.opciones-hilera-activeHover:hover::before {
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: width 0.7s;
}
.opciones-hilera[rel="#acercaDe"]{
  background: var(--bg-inteligo);
  background-size: 500% 500%;
  animation: var(--btn-inteligo);  
}
.opciones-hilera-active {
  font-family: "Inter-Bold";
  text-transform: uppercase;
}
.opciones-hilera-activeHover {
  background: none;
  transition: background .2s;
}
.inputs-busqueda {
  display: flex;
}
.inputs-busqueda button {
  width: 100%;
  padding: 1em;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
}
.inputs-busqueda :where(.filtrar, .agregar, .eliminados) {
  font-size: 1em;
  transition: background-color 0.3s;
}
.inputs-busqueda .filtrar {
  background-color: gray;
}
.inputs-busqueda .agregar {
  background-color: #026300;
}
.inputs-busqueda .eliminados {
  background-color: darkred;
}
.inputs-busqueda .back {
  background-color: rgb(134, 113, 19);
  transition: none
}
.titulo-section {
  background-color: #242424;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
}
.titulo-section h2 {
  margin-left: 10px;
}
.info-user {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
}
.info-user div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.info-user i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%
}
.info-user div h3 {
  margin: 0;
}
.info-user div span {
  font-family: "Inter-Bold";
}
.info-user div > * {
  margin-left: 10px !important;
  margin-right: 10px !important
}

#logout ion-icon, #logout i{
  border-radius: 5px;
  font-size: 1em;
  color: white;
  margin-left: 10px;
}
.style-user {
  color: #141414;
  border-radius: 5px;
  transform: scale(5, 5);
  position: relative;
  cursor: pointer;
}
#inicio {
  color: white;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(157, 162, 188, 0.1), rgba(4, 30, 163, 0.1));
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
}
#inicio main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.spanPromotion {
  border-radius: 10px;
  padding: 10px;
  font-size: 1em;
  text-align: center;
  font-family: "Inter-SemiBold";
  text-transform: uppercase;
  color: white;
}
#inicio main h1 {
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Inter-ExtraLight'
}
#acercaDe {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100% !important;
}
#acercaDe main {
  background-color: #040404;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: auto !important;
  padding: 1em 0em 1em 0em;
}
@media (max-width: 600px){
  #acercaDe main{
    flex-direction: column;
    height: 100% !important;
    padding: 0;
  }
}
#acercaDe main div:nth-child(3){
  background: rgba(90, 90, 90, 0.5);
  border: 1px solid gray;
  border-radius: 10px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 1em;
  right: 1em;
}
#acercaDe img{
  width: 200px;
}
:where(#inicio, #acercaDe) .navbar_block {
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 1;
  border-radius: 100%;
}
@media (max-width: 700px) {
  header > * {
    margin: 0px 10px 0px 10px;
  }
  #inicio header img {
    width: 250px;
    position: static;
    transform: none;
    top: 0;
  }
  #inicio header .navbar_block {
    position: static;
    border-radius: 100%;
  }
}
@media (min-width: 700px) {
  #inicio header .navbar_block {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    border-radius: 100%;
  }
}
.navbar_icon {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 100%;
  font-size: 1em;
}
@media (max-width: 600px) {
  #inicio .logo-img {
    width: 50%;
  }
}