@import 'comun.css';

:root {
  --bg-operador: #299402;
}

#inicio main span {
  background: var(--bg-operador);
}

.info-user div {
  background: var(--bg-operador);
}

.indicadores {
  background: var(--bg-operador);
}

.opciones-hilera-active {
  background: var(--bg-operador);
}

::selection {
  background: var(--bg-operador);
}