@import 'comun.css';

#user {
    background-color: #fd7e14;
}

@keyframes user {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

$boton-colores: #ca6510;

.opciones-hilera-active { background-color: $boton-colores }
.opciones-hilera-activeHover { 
    background-color: none; 
    &:hover {
        background-color: rgb(62, 62, 62);
    }
}