#alert-add {
    font-family: 'Inter-SemiBold';
    padding: 20px;
    border-radius: 6px;
    display: none;
    gap: 10px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-weight: bold;
    transition: opacity 0.6s;
    animation: alert 0.5s ease;
}
@media (max-width: 600px){
    #alert-add {
        width: 80%;
    }
}
:root {
    --alert-success: #04AA6D;
    --alert-info: #2196F3;
    --alert-danger: #f44336;
    --alert-warning: #ff9900;
    --alert-modify: darkgoldenrod;
    --alert-trashed: #b91c2b;
}
.alert-success,
.alert-info,
.alert-danger,
.alert-warning,
.alert-modify,
.alert-trashed {
    border: 1px solid var(--color);
    border-left: 9px solid var(--color);
    background: white;
    color: var(--color);
}
.alert-success {
    --color: var(--alert-success);
}
.alert-info {
    --color: var(--alert-info);
}
.alert-danger {
    --color: var(--alert-danger);
}
.alert-warning {
    --color: var(--alert-warning);
}
.alert-modify {
    --color: var(--alert-modify);
}
.alert-trashed {
    --color: var(--alert-trashed);
}
@keyframes alert {
    0% {
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@keyframes des_alert {
    0% {
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        top: -20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}