@import 'comun.css';

:root {
  --bg-administrador: #035d6f;
}
#user {
  background: #03424e
}
.alert_section {
  border-left: 20px double var(--bg-administrador);
}
.alert_section label, .alert-filtrar label {
  background: var(--bg-administrador);
}
nav {
  border-right: 5px solid var(--bg-administrador);
}
.alert-filtrar {
  border: none;
  border-top: 5px solid var(--bg-administrador);
  border-bottom: 5px solid var(--bg-administrador);
}
.spanPromotion {
  background: var(--bg-administrador);
}
.indicadores {
  background: var(--bg-administrador)
}
/* .opciones-hilera-active {
  background: var(--bg-administrador);
}
.opciones-hilera-activeHover {
  background: var(--bg-administrador);
} */
::selection {
  background: var(--bg-administrador)
}

/* new */
.opciones-hilera:nth-child(1) {
  background: var(--bg-administrador);
}